@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

section{
    padding: 1rem 0;
    overflow: hidden;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.hero{
    width: 100%;
    height: 100vh;
    background: url("images/FDBG.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sub-headline{
    font-size: 6.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 1;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
}

.headline{
    color: #fff;
    font-size: 3.0rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .7rem;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
    opacity: 1;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 1;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before{
    border-right-color: #fff;
    right: 0;
}

.line-left::before{
    border-left-color: #fff;
    left: 0;
}

.asterisk{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 1;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation{
    opacity: 1;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}

.discover-our-story{
    margin-top: 6.9rem;
}

.global-headline .asterisk{
    color: var(--body-font-color);
    margin: 2.4rem 0;
}

.headline-dark{
    color: var(--main-font-color-dark);
    letter-spacing: .3rem;
    margin-right: -.7rem;
}

.global-headline .sub-headline{
    letter-spacing: 2.2px;
    line-height: .42;
}

.restaurant-info{
    text-align: center;
}

.restaurant-description{
    margin-bottom: 3rem;
}

.restaurant-description p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

.body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;
}

.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}

.body-btn:hover,
.body-btn:focus{
    color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before{
    background-color: var(--main-font-color-dark);
}

.address{
    font-size: 2rem;
    letter-spacing: .1rem;
}
 
.tag{
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin: 2rem;
    align-items: center;
    align-content: center;
    flex-direction: row;
    text-transform: uppercase;
}


@media screen and (min-width: 1200px){
        section{
        padding: 7rem;
    }
    .sub-headline{
        font-size: 7rem;
    }
    
    .headline{
        font-size: 3rem;
        letter-spacing: .8rem;
    }
    
    .line{
        max-width: 11.4rem;
    }
    
    .restaurant-info{
        display: flex;
        align-items: center;
    }
    
    .restaurant-info >div{
        flex: 1;
    }
    
        .padding-right{
        padding-right: 7rem;
    }
    
}